// Fade
[data-observe="fade"]
  opacity: 0
  transition: opacity .6s cubic-bezier(.645,.045,.355,1)

  &.visible
    opacity: 1


// Fadeup
[data-observe="fadeup"]
  opacity: 0
  transform: translateY(64px)
  transition: 1s cubic-bezier(.215,.61,.355,1)

  &.visible
    opacity: 1
    transform: translateY(0)


[data-observe="scaleIn"]
  transition: .5s ease

  [data-observe-child]
    transition: 1s ease

  &:not(.visible)
    opacity: 0
    transform: translate3d(-50%,0,0)

    [data-observe-child]
      transform: translate3d(0.5em,0,0) scale(.85)


// scaleX
[data-observe="scaleX"]
  transform: scaleX(0)
  transition: 1s cubic-bezier(0.73, 0.13, 0.12, 1) 0.2s
  transform-origin: center left

  &.visible
    transform: scaleX(1)


// Title
[data-observe="title-line"]
  position: relative
  &::after
    content: ''
    position: absolute
    top: calc(100% + 8px)
    left: 0

    width: 3.9em
    height: 8px

    background: #F6F3E7
    transform-origin: center left
    transition: transform 0.6s $cubic-io
    transform: scaleX(0)
    @media (max-width: $mob)
      width: 60px!important
      height: 4px!important
  &.visible::after
    transform: scaleX(1)

// Features
@for $i from 2 through 3
  .section-features > [data-observe="scaleIn"]:nth-child(#{$i})
    transition: .5s ease (#{$i*0.1s})

  .section-features > li:nth-child(#{$i}) [data-observe-child]
    transition: 1s ease (#{$i*0.1s})