.modal
  z-index: 11
  position: fixed
  top: 0
  left: 0
  width: 100vw
  +vh
  pointer-events: none

.modal__head
  display: flex
  padding: 15px
  align-items: center
  justify-content: space-between
    
// Active state
.modal--active
  pointer-events: auto
  .modal__overlay,
  .modal__close
    pointer-events: auto
    opacity: 1

// Overlay
.modal__overlay
  z-index: -1
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background: rgba($black, 0.7)
  pointer-events: none
  opacity: 0
  transition-duration: .3s

// Close
.modal__close
  width: 24px
  height: 24px
  z-index: 1
  color: #fff
  opacity: 0
  pointer-events: none
  svg
      height: inherit
      width: inherit

// Mobile modal
.modal--mobile
  z-index: 11
  &:before
    content: ''
    transition-duration: .5s
    width: 0px
    transform-origin: top right
    height: 0px
    border-radius: 100%
    position: absolute
    top: 35px
    background: white
    right: 24px
    transition-delay: .1s
    z-index: -1
  .modal__head, .modal__overlay
    display: none
  .modal__container
    min-height: 100vh
    overflow-y: scroll
    position: relative
    
  .mobile-menu__content
    opacity: 0
    transition-duration: .3s
    will-change: transform
    transform: translateY(-10px)
    transition-delay: 0s
    //overflow-y: scroll

  .mobile-menu__footer
    opacity: 0
    pointer-events: none
    transition-duration: .3s
    transition-delay: 0s
    transform: translateY(70px)

.modal--mobile.modal--active
  &:before
    top: -300px
    right: -300px
    width: 1600px
    height: 1600px
    transition-delay: 0s
  .mobile-menu__content
    opacity: 1
    transition-delay: .32s
    transform: translateY(0px)
  .mobile-menu__footer
    bottom: 0
    left: 0
    opacity: 1
    pointer-events: all
    position: fixed
    transform: translateY(0px)
    transition-delay: .32s
    box-shadow: 0px -1px 4px rgba(0,0,0,.1)