mixin modal(name, type = 'center', title, className)
  section.modal(class=`modal--${name} modal--${type}` class=className data-modal=name style="visibility: hidden")
    button.modal__overlay(type="button" data-modal-close=name)
    .modal__container
        .modal__head
            if title
                .modal__title !{title}
            button.modal__close.u-center(type="button" data-modal-close=name)
                +svg('close')
        .modal__content
            if block
                block
