.benefits
    display: grid
    +yo('grid-gap', (500px: 35px, 1440px: 70px))
    +yo('margin-top', (500px: 40px, 1440px: 80px))
    grid-template-columns: repeat(4, 1fr)
    @media (max-width: $desktop-sm)
        grid-template-columns: repeat(3, 1fr)
    @media (max-width: $tab)
        grid-template-columns: repeat(2, 1fr)
    @media (max-width: $mob)
        grid-template-columns: 1fr
        margin-top: 0

.benefits-item__icon
    width: 32px
    height: 32px
    position: relative
    svg
        width: 100%
        height: 100%
        color: $green

.benefits-item__title
    +norms(m)
    font-size: 21px
    margin: 20px 0
    @media (max-width: $mob)
        margin: 10px 0

.benefits-item__description
    color: $grey
    font-size: 15px