mixin benefits
    ul.benefits
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-1")
            .benefits-item__title Экстерьер
            .benefits-item__description Эргономика купола идеально вписывается в абсолютно любой ландшафт. WOW-эффект гарантирован!
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-2")
            .benefits-item__title Интерьер
            .benefits-item__description Отсутствие несущих стен и изящно изогнутый высокий потолок позволяют воплощать самые смелые дизайнерские идеи.
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-3")
            .benefits-item__title Энергоэффективность
            .benefits-item__description Сфера - наиболее эффективная природная форма. В сравнении с обычным домом, купол имеет на 30% меньше площади поверхности.
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-4")
            .benefits-item__title Безопасность
            .benefits-item__description Прочность сферы обеспечена равномерным распределением нагрузок на все точки поверхности. Пробовали раздавить яйцо?
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-5")
            .benefits-item__title Скорость
            .benefits-item__description Сборка за один день. Дом "под ключ" за месяц.
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-6")
            .benefits-item__title Простота сборки
            .benefits-item__description Никакой спецтехники. Бригада из 4 человек. В любое время года.
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-7")
            .benefits-item__title Экологичность
            .benefits-item__description Подтверждается гигиеническими сертификатами. Химически инертен. Не вызывает аллергий. Не содержит асбеста, фреона и формальдегидов.
        li.benefits-item
            .benefits-item__icon
                +svg("benefit-8")
            .benefits-item__title Прочность
            .benefits-item__description Заводское качество элементов. Стальной армирующий каркас. Крепление по системе "шип-паз".