html
  &.has-scroll-smooth
    overflow: hidden

  &.has-scroll-dragging
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.has-scroll-smooth body
  overflow: hidden

.c-scrollbar
  position: absolute
  right: 0
  top: 0
  width: 5px
  height: 100vh
  transform-origin: center right
  transition: transform 0.3s, opacity 0.3s
  opacity: 0

  &:hover
    transform: scaleX(1.45)
    opacity: 1

.has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar
  opacity: 1

.c-scrollbar_thumb
  position: absolute
  top: 0
  right: 0
  background: $black
  opacity: 0.8
  width: 5px
  border-radius: 10px
  margin: 2px
  cursor: -webkit-grab
  cursor: grab

.has-scroll-dragging .c-scrollbar_thumb
  cursor: -webkit-grabbing
  cursor: grabbing

.scroll-container
  overflow-x: hidden
  @media (max-width: $tab-sm)
    padding-bottom: 0!important