head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title Dome Dom

  //- Meta
  meta(name="description" content="dome-dom")
  meta(name="keywords" content="dome-dom")
  meta(name="robots" content="index, follow")
