include ../blocks/svg/svg.pug
include ../blocks/header/header.pug
include ../blocks/mobile-elements/mobile-elements.pug
include ../blocks/modal/modal.pug
include ../blocks/benefits/benefits.pug
include ../blocks/gallery/gallery.pug
include ../blocks/goods-list/goods-list.pug
include ../blocks/footer/footer.pug