block variables
  -

doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug
  
  body(style="visibility: hidden")
    include ../templates/modals.pug
    block modals
    +mobile-elements
    //- Main content
    .scroll-container#js-scroll
      main
        block content

    script(src="https://polyfill.io/v3/polyfill.min.js?features=globalThis%2CIntersectionObserver")
