mixin mobile-elements
    .mobile-elements.media-max--tab
        button.burger(data-modal-toggle="mobile-menu")
            span
            span
            span
        a(href="tel:+79119920726").phone
            +svg("phone")