.mobile-elements
    .burger
        width: 40px
        height: 40px
        background-color: white
        border-radius: 100%
        position: absolute
        top: 20px
        border: 1px solid rgba(0,0,0,.1)
        transition-duration: .4s
        transition-timing-function: ease
        right: $unit-s
        z-index: 20
        span
            width: 50%
            height: 2px
            background-color: $black
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            transition-duration: inherit
            transition-timing-function: inherit
            margin: auto
            &:first-child
                transform: translateY(-5px)
            &:last-child
                transform: translateY(5px)
    .phone
        width: 57px
        position: fixed
        bottom: 35px
        right: 20px
        background-color: $green
        z-index: 10
        height: 57px
        border-radius: 100%
        svg
            width: 40%
            height: 40%
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: auto
            color: white
            fill: none


.modal-mobile-menu-active
    .burger
        span
            &:first-child
                transform: translateY(0px) rotate(45deg)
            &:nth-child(2)
                opacity: 0
                transform: translateX(-5px)
            &:last-child
                transform: translateY(0px) rotate(-45deg)