mixin gallery(data)
    .gallery.js-booster-x
        ul.gallery__inner.js-booster__inner
            each item in data
                li.gallery__item
                    img(src=item data-scroll data-scroll-speed="-1")