.gallery
    height: 60vh
    position: relative
    @media (max-width: $tab-sm)
        height: 45vh
    @media (max-width: $mob)
        height: 30vh


.gallery__inner
    height: 100%
    cursor: grab
    display: grid
    +yo('grid-gap', (500px: 24px, 1440px: 70px))

.gallery__item
    overflow: hidden
    grid-row: 1
    width: 50vw
    height: 100%
    position: relative
    @media (max-width: $tab-sm)
        width: 70vw
    img
        width: 100%
        height: 110%
        top: -5%
        position: absolute
        left: 0
        object-fit: cover