.main-head
    height: 100vh
    width: 100%
    position: relative
    +yo('margin-bottom', (990px: 10px, 1440px: 40px))

.main-head__title
    color: white
    width: 50%
    margin: 0 $unit-s
    line-height: 110%
    @media (max-width: $tab)
        margin-bottom: 30vh
    @media (max-width: $tab-sm)
        width: auto

.main-head-odds
    display: grid
    padding: 6vh 6vw
    background: white
    margin-bottom: -1px
    will-change: transform
    grid-template-columns: repeat(3, 1fr)
    justify-content: start
    +yo('grid-gap', (990px: 20px, 1440px: 100px))
    @media (max-width: $tab)
        padding: 25px 20px
        width: calc(100% - 95px)

.main-head-odds__item
    grid-row: 1
    @media (max-width: $tab)
        grid-row: initial
        grid-gap: 15px
        display: grid
        grid-template-columns: auto auto
        justify-content: start
        align-items: center

.main-head-odds__count
    +norms(r)
    opacity: .6
    font-size: 12px
    margin-bottom: 10px
    @media (max-width: $tab)
        margin-bottom: 0
        min-width: 14px

.main-head-odds__title
    +norms(m)
    font-size: 18px
    @media (max-width: $tab)
        font-size: 16px

.main-head__bg
    position: absolute
    z-index: -1
    position: absolute
    top: 0
    width: 100%
    height: 100%
    overflow: hidden
    &:before
        content: ''
        position: absolute
        top: 0
        z-index: 1
        height: 80%
        background: linear-gradient(to bottom, rgba(0,0,0,.55), transparent)
        left: 0
        width: 100%
        @media (max-width: $tab)
            height: 60%
            background: linear-gradient(to bottom, rgba(0,0,0,.2), transparent)
    img
        position: absolute
        width: 100%
        height: 110%
        object-fit: cover
        left: 0
        top: -5%
    video
        object-fit: cover
