.mobile-menu__content
    padding: 80px $unit-s 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh
    width: 100%

.mobile-menu__list
    display: grid
    grid-gap: 10px

.mobile-menu__item
    +norms(m)
    font-size: 20px

.mobile-menu__part
    border-top: 1px solid rgba(0,0,0,.3)
    padding-top: 20px
    display: grid
    align-items: center
    grid-template-columns: auto auto
    justify-content: space-between
    grid-gap: 10px
    margin-bottom: 60px
    span
        +norms(m)