-
    const mobileMenu = {
        list: [
            {
                title: "Что это?",
                anchor: "section-1"
            },
            {
                title: "Какие преимущества?",
                anchor: "section-2"
            },
            {
                title: "Сколько стоит?",
                anchor: "section-3"
            },
        ],
        phone: "8911 293 41 21"
    }

+modal('mobile-menu', 'mobile')
    .mobile-menu
        .mobile-menu__content
            ul.mobile-menu__list
                each item in mobileMenu.list
                    li.mobile-menu__item
                        button.js-menu-btn(data-anchor=item.anchor) !{item.title}
            .mobile-menu__part
                span Телефон:
                a(href="#") !{mobileMenu.phone}