.footer
    +yo('padding-bottom', (500px: 40px, 1440px: 90px))

.footer-contacts
    display: grid
    grid-template-columns: auto auto
    grid-gap: 50px
    justify-content: flex-start
    +yo('padding-right', (500px: 30px, 1440px: 70px))
    @media (max-width: $tab)
        padding-right: 0
        grid-gap: 30px
        grid-template-columns: initial
        justify-content: initial

.footer-contacts__photo
    border-radius: 100%
    overflow: hidden
    position: relative
    +yo('height', (500px: 125px, 1440px: 200px))
    +yo('width', (500px: 125px, 1440px: 200px))
    img
        width: 100%
        height: 100%
        object-fit: cover

.footer-contacts__part
    @media (max-width: $tab)
        justify-content: flex-start

.footer-contacts__title
    +norms(b)
    font-size: 21px
    @media (max-width: $tab)
        font-size: 24px
        +norms(r)

.footer-contacts__subtitle
    font-size: 14px

.footer__inner
    display: grid
    grid-template-columns: auto auto
    justify-content: flex-start
    @media (max-width: $tab)
        grid-template-columns: initial

.footer-contacts__phone
    font-size: 28px

.footer-socials
    display: grid
    grid-gap: 20px
    justify-content: flex-start
    @media (max-width: $tab)
        margin-top: 20px

.footer-socials__item
    grid-row: 1
    width: 25px
    height: 25px
    position: relative
    &:hover
        svg
            color: rgba(0,0,0,1)
    svg
        width: 100%
        height: 100%
        color: rgba(0,0,0,.7)
        transition-duration: .4s
        
.footer-content
    display: block
    border-left: 1px solid rgba(0,0,0,.1)
    +yo('padding-left', (500px: 30px, 1440px: 70px))
    @media (max-width: $tab)
        padding-left: 0
        border-left: 0
        margin-top: 20px
        padding-top: 20px
        border-top: 1px solid rgba(0,0,0,.1)
    p
        font-size: 18px
        margin-bottom: 15px
        max-width: 400px
        @media (max-width: $tab)
            max-width: 100%
            font-size: 16px
            margin-bottom: 10px