mixin footer(data)
    footer.footer
        .container
            .footer__inner
                .footer-contacts
                    .footer-contacts__photo
                        img(src="assets/img/footer-photo.jpg")
                    .footer-contacts__part.u-flex-col.u-jcsb
                        .footer-contacts__content
                            .footer-contacts__title Антон Соколов
                            .footer-contacts__subtitle Представитель компании Dome-Dom в Северозападном регионе
                        a(href="tel:+79119920726").footer-contacts__phone.media-min--tab +7 (911) 992-07-26
                        ul.footer-socials
                            li.footer-socials__item
                                a(href="https://vk.com/anton_sokolov" target="_blank")
                                    +svg("vk")
                            li.footer-socials__item
                                a(href="https://www.youtube.com/watch?v=s9F-DtmWR1k&t=29s" target="_blank")
                                    +svg("youtube")
                            li.footer-socials__item
                                a(href="https://www.instagram.com/anton.sokolov/" target="_blank")
                                    +svg("instagram")
                .footer-content
                    p Позвоните мне, я расскажу вам все о доме и том как его собрать
                    p А еще лучше - приезжайте ко мне в гости, в мой собственный купольный дом, чтобы все увидеть самому.