extends ../templates/template.pug
block content
  .main
    .main-head.u-flex-col.u-jcsb.u-ais
      +header
      h1.main-head__title Новая эра дачного строительства
      ul.main-head-odds.media-min--tab
        .main-head-odds__item
          .main-head-odds__count 01
          .main-head-odds__title Энергоэффективно
        .main-head-odds__item
          .main-head-odds__count 02
          .main-head-odds__title Экологично
        .main-head-odds__items
          .main-head-odds__count 03
          .main-head-odds__title Сборка за 1 день
      .main-head__bg
        video(width="100%" height="100%" data-scroll data-scroll-speed="-2" autoplay loop muted playsinline webkit-playinginline)
          source(src="assets/videos/front-video.mp4" type="video/mp4")

    section.section.section--light(data-target="section-1")
      .container
        .section__wrapper
          .section__part
            .section-title.t-h2 Что такое Dome-Dom?
            p.section-subtitle Это невероятно, но бригада из 4 человек устанавлявает наш теплый дом-конструктор всего за один день.
          .section__part
            .section-title.t-h3 Купольные дома из пенополиуретана.
            .section-part__content
              p Базовой конструкцией сооружения является 12-гранный купол, состоящий из 12-ти панелей типа «Лепесток». Панели купола Dome-Dom соединяются с помощью системы «Шип-Паз», что упрощает монтаж, минимизирует теплопотери и препятствует возникновению мостиков холода.
              p Типовые элементы производятся на заводе в подмосковном городе Люберцы из высококачественных европейских компонентов.
              p Купол имеет внутри каркас из арматуры диаметром 16 мм для образования единого силового контура и придания дополнительной жесткости и прочности конструкции.
              p С 2012 года мы производим дома по запатентованной технологии Dome-Dom и имеем сотни реализованных проектов.

        .section__picture
          img(src="assets/img/house.jpg")

    section.section.section--light(data-target="section-2")
      .container
        .section-title.t-h2.media-min--tab Преимущества купольной конструкции
        +benefits

    section.section.section--light
      .container
        +gallery(["assets/img/gallery-picture-1.jpg", "assets/img/gallery-picture-2.jpg", "assets/img/gallery-picture-3.jpg", "assets/img/gallery-picture-4.jpg"])
    
    section.section.section--light
      .container
        .section-title.section-title--single.t-h2 Основа купольного дома - жесткий пенополиуретан, плотностью 70 кг/м<sup>3</sup>
        .section__wrapper
          .section__part
            .section-list
              .section-list__item
                .section__title.t-h4 Устойчивость
                p Устойчив к агрессивной внешней среде, влаге, огню. Не подвержен гниению и воздействию плесени. Неинтересен грызунам.
              .section-list__item
                .section__title.t-h4 Теплоизоляция
                p Лучший теплоизолятор на сегодняшний день. Конструкции из этого полимера обладают эффектом «термоса», что существенно снижает затраты на обогрев и охлаждение помещений. Определяется ячеистой структурой. Теплопроводность колеблется между 0,019 и 0,035 Вт/(м·K). Экономия на отоплении 30%.
              .section-list__item
                .section__title.t-h4 Долговечность
                p Лабораторные исследования доказали срок службы до 50 лет. Полностью сохраняет свою форму, функциональность и параметры.
          .section__part
            .section__picture
              video(width="100%" height="auto" autoplay loop muted playsinline webkit-playinginline)
                source(src="assets/videos/fire.mp4" type="video/mp4").media-min--tab

    section.section.section--light
      .container
        .section-title.section-title--single.t-h2 Интерьер
        +gallery(["assets/img/gallery-picture-3.jpg", "assets/img/gallery-picture-4.jpg", "assets/img/gallery-picture-2.jpg", "assets/img/gallery-picture-1.jpg"])

    section.section.section--light(data-target="section-3")
      .container
        .section-title.t-h2 Цена за домокомплект
        p Без учета фундамента, окон и кровли
        +goods-list

    +footer
    