.section
    +yo('padding-top', (375px: 45px, 1440px: 90px))
    +yo('padding-bottom', (375px: 45px, 1440px: 90px))
    
.section-title
  +yo('margin-bottom', (375px: 10px, 1440px: 20px))
  &--single
    +yo('margin-bottom', (375px: 30px, 1440px: 60px))

.section--light
    background: white
    color: $black

.section__picture
  width: 100%
  position: relative
  @media (max-width: $mob)
    margin: 0 $unit-reverse
    width: calc(100% + var(--unit) * 2)
  img, video
    width: 70%
    display: block
    margin: 0 auto
    object-fit: cover
    object-position: center
    @media (max-width: $tab)
      width: 100%

.section__wrapper
  display: grid
  grid-template-columns: 35% 55%
  justify-content: space-between
  @media (max-width: $tab)
    grid-gap: 25px
    grid-template-columns: initial

.section-subtitle
  +yo('font-size', (375px: 18px, 1440px: 24px))

.section-part__content
  display: grid
  grid-gap: 15px
  p
    +yo('font-size', (375px: 14px, 1440px: 18px))
    color: $grey

.section-list
  display: grid
  grid-gap: 25px

.section-list__item
  display: grid
  grid-gap: 15px
  p
    font-size: 18px
    color: $grey