mixin goods-list
    ul.goods-list
        li.goods-list__item
            img(src="assets/img/good-item-1.jpg")
            .goods-list__part
                .goods-list__title Шале 17 м<sup>2</sup>
                .goods-list__price 199 000 ₽
        li.goods-list__item
            img(src="assets/img/good-item-2.jpg")
            .goods-list__part
                .goods-list__title 25 м<sup>2</sup>
                .goods-list__price 349 000 ₽
        li.goods-list__item
            img(src="assets/img/good-item-3.jpg")
            .goods-list__part
                .goods-list__title 44 м<sup>2</sup>
                .goods-list__price 549 000 ₽
        li.goods-list__item
            img(src="assets/img/good-item-4.jpg")
            .goods-list__part
                .goods-list__title 50 м<sup>2</sup>
                .goods-list__price 599 000 ₽
        li.goods-list__item
            img(src="assets/img/good-item-5.jpg")
            .goods-list__part
                .goods-list__title 70 м<sup>2</sup>
                .goods-list__price 649 000 ₽
        li.goods-list__item
            img(src="assets/img/good-item-6.jpg")
            .goods-list__part
                .goods-list__title 75 м<sup>2</sup>
                .goods-list__price 949 000 ₽
        li.goods-list__item
            img(src="assets/img/good-item-7.jpg")
            .goods-list__part
                .goods-list__title 100 м<sup>2</sup>
                .goods-list__price 1 299 000 ₽
        li.goods-list__item
            img(src="assets/img/good-item-8.jpg")
            .goods-list__part
                .goods-list__title 109 м<sup>2</sup>
                .goods-list__price 1 349 000 ₽