.goods-list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 24px
    margin-top: 20px
    @media (max-width: $tab)
        grid-template-columns: repeat(3, 1fr)
    @media (max-width: $tab-sm)
        grid-template-columns: initial
        grid-gap: 0

.goods-list__item
    border: 1px solid rgba(0, 0, 0, 0.1)
    display: grid
    align-items: center
    text-align: center
    padding: 30px
    grid-gap: 10px
    +norms(m)
    @media (max-width: $tab-sm)
        border: none
        grid-template-columns: repeat(2, 1fr)
        text-align: left
        grid-gap: 20px
        padding: 20px 5px
        border-top: 1px solid rgba(0, 0, 0, 0.1)
    &:last-child
        @media (max-width: $tab-sm)
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    img
        width: 80%
        display: block
        justify-self: center
        @media (max-width: $tab-sm)
            justify-self: flex-start
            width: 100%

.goods-list__title
    font-size: 14px
    opacity: .6

.goods-list__price
    font-size: 18px
    white-space: nowrap

.goods-list__part
    display: grid
    grid-gap: 10px