mixin header
  header.header
    a(href="#").header-logo
      img(src="assets/img/logo.png")
    .header-part.media-min--tab
      nav.header-nav
        button.header-nav__item(data-anchor="section-1") Что это?
        button.header-nav__item(data-anchor="section-2") Какие преимущества?
        button.header-nav__item(data-anchor="section-3") Сколько это стоит?
      a(href="tel:+79119920726").header-phone +7 911 992-07-26