.header
    display: grid
    grid-template-columns: auto auto
    justify-content: space-between
    color: white
    align-items: center
    width: 100%
    padding: 30px $unit-s

.header-logo
    @media (max-width: $tab)
        width: 150px
    img
        width: 100%
        display: block
        
.header-part
    display: grid
    grid-template-columns: auto auto
    +yo('grid-gap', (500px: 15px, 1440px: 40px))

.header-nav
    display: grid
    +yo('grid-gap', (500px: 15px, 1440px: 40px))

.header-nav__item, .header-phone
    color: inherit
    +norms(m)
    font-size: 16px
    &:visited, &:active, &:focus
        color: inherit

.header-nav__item
    grid-row: 1
